@model WebApplication1.Models.SearchModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string LightboxCommentsAndRate;
}
<link rel="stylesheet" href="~/Content/lightbox.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/lightbox.js"></script>
<h1>Search result to : @Model.term</h1>
<hr />
<h4>Result by Demotivator Name:</h4>
<hr />
<dl class="dl-horizontal">
    @foreach (var item in Model.Demotivators)
    {
        LightboxCommentsAndRate = Html.Partial("_VoteNow", item.Id.ToString()).ToString() + Html.Partial("_VoteShow", item.Rate).ToString() + Html.Partial("_Comments", item.Comments, new ViewDataDictionary { { "id", @item.Id } }).ToString();
        <a class="example-image-link" data-title="<a href=&quot;/Demotivators/Details/@item.Id&quot; class=&quot;btn btn-dangers&quot; >Full Info </a>@LightboxCommentsAndRate" href=@item.DemotivatorUrl data-lightbox="example-1">
                <img class="example-image" src=@item.DemotivatorUrl  alt="image-1" style="width:18%;height:18%"  />
                </a>
    }
</dl>
<h4>Result by User Name:</h4>
<hr />
@foreach (var item in Model.Users)
{
    <label>Click @Html.ActionLink(" here ", "UserAccount/" + item.Id, "Account") To open your profile</label>
}