

<h2>@Resources.Resource.EmailConfirm</h2>
<div>
    <p>
       @Resources.Resource.EmailTy. @Html.ActionLink(Resources.Resource.EmailConfirmClick, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
