@using WebApplication1.Models
@model UserAccountModel
@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/lightbox.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/lightbox.js"></script>
<h2>@Html.DisplayFor(model => Model.User.UserName)</h2>

<h2>Average Rateing is @Html.DisplayFor(model => Model.Rate)</h2>

<dl class="dl-horizontal">
    @foreach (var item in Model.Demotivator)
    {
        <a class="example-image-link" href=@item.DemotivatorUrl data-lightbox="example-1"><img class="example-image" src=@item.DemotivatorUrl alt="image-1" width=="100%" height="100" /></a>
    }
</dl>