@{
    ViewBag.Title = "confirm mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        ty for your email confirm @Html.ActionLink("click for enter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
