@model IEnumerable<WebApplication1.Demotivator>
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.DemotivatorName, "Details", "Demotivators", new { id = item.Id }, null)
    </li>
}