
@model List<Demotivator>
@{
    ViewBag.Title = "Home Page";
}
@if (!User.Identity.IsAuthenticated)
{
    <div>Log in</div>
}
<!-- Модальное окно №5 -->
<a href="#x" class="overlay" id="win5" ></a>
<div class="popup">
    <img class="is-image" src="" alt="" height="100" />
    <a class="close" title="Закрыть" href="#close"></a>    
</div>
    <body>

        @foreach (var dem in Model)
        {
         
                <a href="#win5"><img title="" class="clickImg" img src="@Html.DisplayFor(Model => dem.DemotivatorUrl)" height="150"  /></a>

        }
    </body>


