
@model List<Demotivator>
@{
    ViewBag.Title = "Home Page";
}
@if (!User.Identity.IsAuthenticated)
{
    <div>Log in</div>
}
    @foreach (var dem in Model)
    {
        <div>
            <img src="@Html.DisplayFor(Model => dem.DemoJSONInfo)" class="img-thumbnail"/>
        </div>
    }